/* fullscreen */
.cascade-reader:-webkit-full-screen {
  border-radius: 0;
  background: #0a0810;
}

.cascade-reader:-webkit-full-screen .cascade-scroll-area {
  height: calc(100vh - 55px);
  max-height: 100vh;
}

.cascade-reader:-webkit-full-screen .paged-img-area {
  height: calc(100vh - 55px);
  max-height: calc(100vh - 55px);
  min-height: 0;
  overflow: auto;
}

.cascade-reader:fullscreen {
  border-radius: 0;
  background: #0a0810;
}

.cascade-reader:fullscreen .cascade-scroll-area {
  height: calc(100vh - 55px);
  max-height: 100vh;
}

.cascade-reader:fullscreen .paged-img-area {
  height: calc(100vh - 55px);
  max-height: calc(100vh - 55px);
  min-height: 0;
  overflow: auto;
}
