#menu-container #menu-component-wrapper .sidebar-inner {
  justify-content: flex-start;
  align-items: stretch;
}

#menu-container #menu-component-wrapper .sidebar-box {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#menu-container #menu-component-wrapper .sidebar-box img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

#menu-container #menu-component-wrapper .sidebar::-webkit-scrollbar {
  width: 5px;
}

#menu-container #menu-component-wrapper .sidebar::-webkit-scrollbar-thumb {
  background: rgba(92, 58, 107, 0.25);
  border-radius: 10px;
}
